.contact {
    width: 100%;
    margin-top: 5rem; 
    box-sizing: border-box; 
  }
  
  .contact h1 {
    text-align: center;
    margin-top: 0; 
    padding-top: 10px; 
  }

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  
  .contactform {
    flex: 1;
    max-width: 100%;
    background-color: #27252594;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0px 1px rgba(255, 215, 0, 0.5); 
  }
  
  
 

  .contactform label {
    display: block;
    margin-bottom: 5px;
    color: #fcf9f7;
  }
  

  .contactform input,
  .contactform textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #d49747;
    border-radius: 4px;
    background-color: #1c1c1c;
    color: #fcf9f7;
  }
  
  .contactform input::placeholder,
  .contactform textarea::placeholder {
    color: #c2c2c2;
  }
  
 
  .contactform textarea {
    resize: none;
    height: 100px;
  }
  

  .contactform button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #d49747;
    border: none;
    border-radius: 4px;
    color: #fcf9f7;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .contactform button:hover {
    background-color: #b27636;
  }
  

  .contactform p {
    text-align: center;
    margin-top: 15px;
    color: #fcf9f7;
  }
  

  .contact-details {
    flex: 1;
    width: 100%; 
    background-color: #27252594;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0px 1px rgba(255, 215, 0, 0.5); 
    color: #fcf9f7;
    margin-top: 100px;
  }
  
  .contact-details ul {
    list-style-type: none;
    padding: 0;
  }
  
  .contact-details ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
    word-wrap: break-word; 
  }
  
  .contact-details ul li a {
    color: #fcf9f7;
    text-decoration: none;
    /* font-weight: bold; */
    word-wrap: break-word; 
  }
  
  .contact-details ul li a:hover {
    text-decoration: underline;
  }

  
  @media (max-width: 1200px) {
    .contact{
        margin-top: 15rem; 
    }
    .contact-container {
      flex-direction: column;
      align-items: center;
    }
    .contactform, .contact-details{
        width: 80%;
    }

    .contact-details{
        margin-top: 10px;
    }

  }
  

  @media (max-width: 600px) {

    .contactform{
        width: 100%;
    }
    .contact-details {
      padding: 10px; /* Reduce padding to fit smaller screens */
      font-size: 10px; /* Decrease font size for readability */
      justify-items: center;
    }
  
    .contact-details ul li {
      margin-bottom: 10px; /* Adjust spacing for smaller screens */
    }
  
    .contact-details ul li a {
      font-size: 14px; /* Reduce link font size */
    }
  }

