.home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 30px 30px;
    height: 100vh;
    color: white;
  }
  
  .home-page h1 span {
    color: #d49747;
    font-weight: bold;
  
    font-size: 1.5em;
  }
  .home-page-text {
    width: 50%;
    padding: 5rem;
    text-align: justify;
  }
  .my-picture {
    display: flex;
    width: 20%;
    margin: 0; 
    border-radius: 50%; 
    box-shadow: 0 0 20px rgba(184, 134, 11, 0.5); 
    align-self: center; 
}



@media (max-width: 1200px) {
    .home-page {
      flex-direction: column;
      font-size: 1rem;
      margin-top: 6rem;
    }
  
    .home-page-text {
      text-align: center;
      width: 100%;
    }
    .home-page-text h1{
     font-size: 1.5rem;
    }
    .my-picture {
      width: 30%;
      margin-top: -4rem;
    }
  }
  

  @media (max-width: 900px) {
    .home-page {
      flex-direction: column;
      font-size: 0.95rem; 
      margin-top: 10rem;
      padding: 1rem; 
    }
  
    .home-page-text {
      text-align: center;
      width: 90%; 
      margin-top: 3rem;
    }
  
    .my-picture {
      width: 30%; 
      margin-top: -3rem;
    }
  }
  

  @media (max-width: 700px) {
    .home-page {
      flex-direction: column;
      font-size: 0.85rem; 
      margin-top: 200px;
      padding: 0.5rem; 
    }
  
    .home-page-text {
      text-align: justify;
      width: 100%; 
      margin-top: 2rem;
      font-size: .75rem;
    }

    .home-page-text h1{
      font-size: 1rem;
      text-align: center;
    }
  
    .my-picture {
     display: flex;
     width: 40%;
     margin-top: -2rem;
    }
  }
  

 
  