.sidebar{
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.336);
  backdrop-filter: blur(8px);
}

.sidebar ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    
    
}


.sidebar li,
a {
  width: 100%;
  text-decoration: none;
  color: black;
  
 
}

.sidebar a{
    padding: 1.5rem;

}

.sidebar a.active{
    font-weight:bold;
   
}

.sidebar li:hover {
    color: rgb(232, 226, 226);
  }


.sidebar .closeButton {
    margin-top: 30px;
    margin-left: -60px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .sidebar .closeButton:hover {
    transform: rotate(360deg); 
  }

  @media (max-width: 740px){
    .sidebar{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .sidebar ul,li,a{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .sidebar ul li .closeButton{
        margin-left: -5px;
       text-align: center;
       
    }
  }